@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply font-body text-myntra-dark bg-myntra-bg;
}

h1, h2, h3, h4 {
  @apply font-display;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #ffb8c8;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:focus-visible {
  outline: 2px solid #FF3F6C;
  outline-offset: 2px;
}
